root = "."
tmp_dir = ".tmp"

[build]
bin = ".tmp/main"
cmd = "go build -o ./.tmp/main ."
delay = 1000
excludes = [".tmp", ".git", ".vscode"]
include_ext = ["go", "html"]
kill_delay = 500
main = "main.go"
rerun_delay = 500

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = true
keep_scroll = true
