<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/static/icons/favicon.svg" />
  <title>Wishes</title>
  <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
  <main class="main">
    <h1 class="title">{{.Title}}</h1>
    {{range $category, $items := .Categories}}
    <section class="category">
      <h2 class="heading">{{$category}}</h2>
      <ul class="list">
        {{range $items}}
        <li class="wish">
          <a class="link" href={{.Link}}>{{.Name}}</a>&nbsp;–&nbsp;
          {{.Price}}{{.Currency}}
        </li>
        {{end}}
      </ul>
    </section>
    {{end}}
  </main>
</body>
</html>