{{define "styles"}}<link rel="stylesheet" href="/assets/styles/index.css" />{{ end }}
{{define "header"}}
<header class="header">
  <h1 class="title">Wishlist</h1>
  <div class="controls">
    <a class="icon" href="/new">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24">
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"></path>
      </svg>
    </a>
  </div>
</header>
{{ end }} {{define "content"}} {{ range.Categories }}
<section class="category">
  <h2 class="heading">{{.Name}}</h2>
  <ul class="list">
    {{
      range.Wishes
    }}
    <li class="wish">
      <a href="{{.Link}}">{{.Name}}</a
      >&nbsp;–&nbsp; {{.Price}}{{.Currency}}
    </li>
    {{
      end
    }}
  </ul>
</section>
{{ end }} {{ end }}
