{{define "styles"}}<link rel="stylesheet" href="/static/css/home.css" />{{ end }}

{{define "scripts"}}{{ end }}

{{define "header"}}
<header class="header">
  <h1 class="title">Wishlist</h1>
  {{if .IsAuthenticated}}
  <div class="controls">
    <a class="icon" href="/new">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24">
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"></path>
      </svg>
    </a>
  </div>
  {{ end }}
</header>
{{ end }}

{{define "content"}}
{{ range.Categories }}
<section class="category">
  <h2 class="heading">{{.Name}}</h2>
  <ul class="list">
    {{
      range.Wishlist
    }}
    <li class="wish {{if $.IsAuthenticated}}indent{{ end }}">
      {{if $.IsAuthenticated}}
      <a class="icon edit" href="/edit/{{.ID}}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="26" height="26">
          <path
            d="M160-400v-80h280v80H160Zm0-160v-80h440v80H160Zm0-160v-80h440v80H160Zm360 560v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q8 9 12.5 20t4.5 22q0 11-4 22.5T863-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"
          ></path>
        </svg>
      </a>
      {{ end }}

      <a href="{{.Link}}">{{.Name}}</a
      >&nbsp;–&nbsp; {{ formatPrice (.Price) }} {{.Currency}}
    </li>
    {{
      end
    }}
  </ul>
</section>
{{ end }}
{{ end }}
