.header {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 5px;
  align-items: center;
  max-width: 768px;
}

.name {
  width: 100%;
  margin-right: 0;
}

.link {
  flex: 1;
  min-width: 245px;
}

.category {
  width: 115px;
}

.price {
  width: 90px;
}

.sort {
  width: 75px;
}

.currency {
  width: 95px;
}

.wrapper {
  height: 46px;
  margin-left: 5px;
}

.archive {
  width: 16px;
  height: 16px;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
}

.action {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
}

.submit {
  min-width: 160px;
}
