.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.controls {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.icon {
  line-height: 1;
}

.edit {
  position: absolute;
  top: 14px;
  left: 5px;
  cursor: pointer;
  transform: translateY(-50%);
}

.category:not(:last-child) {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 10px;
  font-weight: 500;
}

.list {
  min-height: 10px;
}

.wish {
  position: relative;
  max-width: 70ch;
  padding-left: 15px;

  &.indent {
    padding-left: 40px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
