:root {
  --color-black-light: #1f2028;
  --color-black: #1d1d1d;
  --color-blue-lighter: #f6fafd;
  --color-blue-light: #8cbbe9;
  --color-blue: #1976d2;
  --color-gray: #c4c4c4;
  --color-gray-dark: #757575;
  --color-gray-darker: #5f6368;
  --color-green: green;
  --color-red-lighter: #fdf7f7;
  --color-red-light: #e99797;
  --color-red: #d32f2f;
  --color-white: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  line-height: 1.3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  line-height: 1;
}

h2 {
  font-size: 18px;
  line-height: 1;
}

ul {
  list-style-type: none;
}

svg {
  display: block;
}

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  padding: 16px;
}

a,
.icon {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.3;
  outline: none;
}

a {
  color: var(--color-blue);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  fill: var(--color-gray);
  line-height: 1;

  &:hover {
    fill: var(--color-gray-darker);
  }
}

input {
  width: 100%;
  height: 46px;
  padding: 0 14px;
  font-size: 16px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
}

select {
  width: 100%;
  height: 46px;
  padding: 0 14px;
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-black);
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  border-radius: 4px;

  &:invalid {
    color: var(--color-gray-dark);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

label {
  font-size: 16px;
  line-height: 1.3;
  cursor: pointer;
}

button {
  min-width: 64px;
  min-height: 46px;
  padding: 5px 15px;
  font-size: 16px;
  color: var(--color-blue);
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-white);
  border: none;
  border-radius: 4px;

  &.default {
    border: 1px solid var(--color-blue-light);
  }

  &.default:hover {
    background-color: var(--color-blue-lighter);
  }

  &.error {
    color: var(--color-red);
    border: 1px solid var(--color-red-light);
  }

  &.error:hover {
    background-color: var(--color-red-lighter);
  }
}
