.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.controls {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.icon {
  line-height: 1;
}

.category:not(:last-child) {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 10px;
  font-weight: 500;
}

.list {
  min-height: 10px;
}

.wish {
  position: relative;
  max-width: 70ch;
  padding-left: 15px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
