.category:not(:last-child) {
  margin-bottom: 20px;
}

.heading {
  margin-bottom: 10px;
  font-weight: 500;
}

.list {
  min-height: 10px;
}

.wish {
  position: relative;
  max-width: 70ch;
  padding-left: 15px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.link {
  color: #1976d2;
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
